@import url("js-mindmap.css");

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 150%;
  background:grey;
}

xmp, textarea {
  display: none;
}

.navbar {
  z-index: 1;
}

p, ul {
  display:block;
  font-family:gotham, tahoma;
  font-weight:normal;
  padding:1em;
}

ul {
  margin:0 1em;
}

a {
  color:red;
}

.js-mindmap-active a.node {
  background:red;
  border: 2px solid white;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;  
}

.js-mindmap-active a.node.active {
  padding:5px 10px !important;
  border-width:5px !important;
}

.js-mindmap-active a.node.activeparent {
  padding:5px 10px !important;
  border-width:5px !important;
  background:#8B0000;
}

.js-mindmap-active p {
    margin-left:50%;
    width:40%;
    color:black;
    background:rgb(255,255,255);
    background:rgba(255,255,255,0.8);    
    border-radius:1em;
    -moz-border-radius:1em;
}
